//Color Variables
$white: #FFFFFF;
$black: #000000;
$grey: #AAAAAA;
$teal: #7CF4F2;
$dark-gray: #333333;

//Font families
$regular: 'Avenir Next Regular', Helvetica Neue, Arial, monospace;
$bold: 'Avenir Next Bold', Helvetica Neue, Arial, monospace;
$semi-bold: 'Avenir Next Demibold', Helvetica Neue, Arial, monospace;

$base-font-size: 1.8rem;

@import 'Typography';
@import 'App';
@import 'Body';
@import 'Navbar';
@import 'Home';
@import 'Card';
@import 'Footer';
@import 'Main';
@import 'Profile';

