@font-face {
  font-family: 'Avenir Next Bold';
  src: url("/fonts/AvenirNextLTPro-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'Avenir Next Regular';
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype"); }
@font-face {
  font-family: 'Avenir Demibold';
  src: url("/fonts/AvenirNextLTPro-Demi.otf") format("opentype"); }
h1 {
  font-size: 4.8rem;
  font-family: "Avenir Next Bold", Helvetica Neue, Arial, monospace;
  margin: 0; }

h2 {
  font-family: "Avenir Next Bold", Helvetica Neue, Arial, monospace;
  font-size: 3.2rem;
  margin-bottom: 1rem; }

h3 {
  font-family: "Avenir Next Bold", Helvetica Neue, Arial, monospace;
  font-size: 2.6rem;
  font-weight: "Avenir Next Bold", Helvetica Neue, Arial, monospace; }

h4 {
  font-size: 2.2rem;
  font-family: "Avenir Next Demibold", Helvetica Neue, Arial, monospace; }

h5 {
  font-size: 2rem;
  font-family: "Avenir Next Demibold", Helvetica Neue, Arial, monospace; }

h6 {
  font-size: 1.8rem;
  font-family: "Avenir Next Demibold", Helvetica Neue, Arial, monospace; }

p {
  font-size: 1.8rem;
  font-family: "Avenir Next Regular", Helvetica Neue, Arial, monospace;
  line-height: 1.5; }

.app-root, .main-wrapper {
  height: 100%; }

body {
  background-color: white;
  margin: 0;
  min-height: 100%; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.main-wrapper {
  overflow: hidden; }

.navbar {
  position: fixed;
  padding: 8.7rem 0 2.5rem;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000; }

.home-body {
  margin-top: 21rem; }

.home-description {
  text-align: center;
  max-width: 82rem;
  margin: auto;
  width: 90%; }
  .home-description p {
    font-family: "Avenir Next Demibold", Helvetica Neue, Arial, monospace;
    font-size: 2.4rem; }

.card-container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
  max-width: 102rem;
  width: 100%; }

.card {
  background-color: gray;
  border-radius: 3px;
  display: inline-block;
  float: left;
  height: 32rem;
  max-width: 20.4rem;
  width: 20.4rem;
  margin: 0 0.6rem; }
  .card .card-link {
    display: block;
    height: 100%; }

.footer {
  position: absolute;
  padding: 2rem 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .footer a {
    color: #AAAAAA;
    font-size: 1.8rem;
    font-family: "Avenir Next Regular", Helvetica Neue, Arial, monospace;
    text-decoration: none; }

.profile .profile-hero {
  background-color: #7CF4F2;
  height: 100vh;
  position: relative; }
  .profile .profile-hero .profile-info-body {
    padding: 5rem;
    position: absolute;
    bottom: 0;
    left: 0; }
    .profile .profile-hero .profile-info-body .character-block {
      margin-bottom: 20rem; }
      .profile .profile-hero .profile-info-body .character-block .title, .profile .profile-hero .profile-info-body .character-block .character-name {
        margin: 0; }
      .profile .profile-hero .profile-info-body .character-block .title {
        position: relative; }
        .profile .profile-hero .profile-info-body .character-block .title:before {
          content: "";
          display: block;
          border-left: 2px solid #FFFFFF;
          border-top: 2px solid #FFFFFF;
          position: absolute;
          height: 24px;
          width: 24px;
          left: -10px;
          top: -10px; }
    .profile .profile-hero .profile-info-body .primary-info-block .first-name, .profile .profile-hero .profile-info-body .primary-info-block .last-name {
      margin: 0; }
    .profile .profile-hero .profile-info-body .primary-info-block .first-name {
      position: relative; }
      .profile .profile-hero .profile-info-body .primary-info-block .first-name:after {
        content: "";
        display: inline-block;
        width: 54px;
        height: 2px;
        background-color: #333333;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        margin-left: 1.6rem; }
  .profile .profile-hero .profile-console-body {
    position: absolute;
    right: -80px;
    top: 50%;
    transform: rotate(90deg); }
    .profile .profile-hero .profile-console-body .age-block, .profile .profile-hero .profile-console-body .gender-block, .profile .profile-hero .profile-console-body .hair-strand-block {
      display: inline-block; }
      .profile .profile-hero .profile-console-body .age-block h6, .profile .profile-hero .profile-console-body .gender-block h6, .profile .profile-hero .profile-console-body .hair-strand-block h6 {
        margin: 0; }

/*# sourceMappingURL=index.css.map */
